$pastel-yellow:#fbf8cc;
$peach:#fde4cf;
$last-summer:#ffcfd2;
$grape:#f1c0e8;
$blackberry:#cfbaf0;    
$marine:#a3c4f3;
$marine-2:#90dbf4;
$polar:#98f5e1;
$kiwi:#b9fbc0;
$color-lightblue-primary:#a3c4f3;
$color-blue-primary:#90dbf4;
$texto-oscuro:#333333;
$texto-claro:#666666