@font-face{
    font-family:vcr-font;
    src: url(../fonts/vcr.ttf);
 
}

@font-face{
    font-family:retro-land;
    src: url(../fonts/retro-land.ttf);
 
}

@font-face{
    font-family:pixel-operator;
    src: url(../fonts/pixel-operator.ttf);
 
}