@import "../../../../assets/css/color-pallete.scss";
.products
{
    display: grid;
    grid-gap: 15px;
    margin:  2em 0;
    .additionals{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        display: flex;

        .additional-item{
            position: relative;
            margin: 0 2em;
            .index{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                position: absolute;
                top: -10px;
                right: -10px;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                padding: 2px;
                background-color: aliceblue;
                border: 2px solid #999999;
                cursor: pointer;

                .index-id{
                    width: 100%;
                    height: 100%;
                    background-color: #999999;
                    color: $texto-oscuro;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 999;
                    border-radius: 50%;
                    
                }

                &:hover .before{
                    right: -26px;
                }
                &:hover .after{
                    left: -26px;
                }

                .before,.after{
                    img{
                        width: 100%;
                    }
                    position: absolute;
                    content: "<";
                    right: 0px;
                    transition: 0.5s ease-in-out;
                    padding: 0.1em;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    background-color: white;
                    z-index: 0;

                }
                .after{
                    left: 0;
                }
            }
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 5px;
            background-color: rgba(100, 148, 237, 0.5);
            box-shadow: -1px 1px 10px 0px #999999;
            img{
              width: 45px;
              height: 45px;
            }
        }
    }
    .product-item{
       
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        height: auto;
        grid-template-areas
        : 'icon1 flavours' 'description price';
        align-items: center;
        padding: 1.5em;
        background-color: aliceblue;
        border-radius: 12px;
        box-shadow: 0px 0px 12px 2px rgb(0 0 0 / 20%);

        &.minimized{
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: "icon1 description price";
            padding: 0 1.5em;

        }

        .cancel{
            position: absolute;
            min-width: 30px !important;
            right: 1em;
            top: 1em;
            cursor: pointer;
            padding: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            transition: 0.5s ease-in-out;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;

            &:hover{
                background-color: rgba(255, 0, 0, 0.226);
            }
            img{
                width: 15px;
                height: 15px;
            }
        }
        
          img{
            width: 60px;
            height: 60px;
        }
        .icon{
            grid-area: icon1;
            padding: 1em;
        }
        .price{
            grid-area: price;
            display: flex;
            justify-content: end;
            align-items: center;
            font-size: 25px;

        }
        .flavours{
            position: relative;
            grid-area: flavours;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 1em;
            flex-direction: column;
            .tools{
                top: -0.5em;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin-bottom: 15px;
                
                .tool-item{
                    cursor: pointer;
                transition: 0.5s ease-in-out;
                margin-right: 1em;
                &:hover{
                    transform: scale(1.05);
                }
                    display: flex;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: rgba(100, 148, 237, 0.5);
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .description{
            grid-area: description;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 25px;
        }
        

    }
}



.flavours-container{
    display: grid;
    width: 100%;
    grid-gap:5px;
    .flavour-item{
        height: 27px;
        width: 100%;
        padding: 0.2em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: black;
        border-bottom: 1px solid #999999;
    }
}

.cancel{
    background-color: rgba(0, 128, 0, 0.2);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    img{
        width: 25px;
    }

}
.accept{
    background-color: rgba(128, 4, 0, 0.315);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    img{
        width: 25px;
    }
}

::ng-deep .mat-menu-panel{
    min-height: unset !important;
    min-width: unset !important;
    overflow: hidden !important;
}