<div class="container">
  <div class="items-container">
    <div
      matTooltip="1 kilo de helado"
      [matTooltipPosition]="'above'"
      class="item"
    >
      <img src="../../../../assets/images/1kg.svg" alt="" />
    </div>
    <div
      matTooltip="Medio kilo de helado"
      [matTooltipPosition]="'above'"
      class="item"
    >
      <img width="90%" src="../../../../assets/images/medio.svg" alt="" />
    </div>
    <div
      matTooltip="Cuarto kilo de helado"
      [matTooltipPosition]="'above'"
      class="item"
    >
      <img width="80%" src="../../../../assets/images/cuarto.svg" alt="" />
    </div>
    <div
      matTooltip="Tacitas por unidad"
      [matTooltipPosition]="'above'"
      class="item"
    >
      <img src="../../../../assets/images/tacitas.svg" alt="" />
    </div>
    <div matTooltip="Copa helada" [matTooltipPosition]="'above'" class="item">
      <img src="../../../../assets/images/copa-helada.svg" alt="" />
    </div>
    <div class="item">
      <img src="../../../../assets/images/1kg.svg" alt="" />
    </div>
    <div class="item">
      <img src="../../../../assets/images/1kg.svg" alt="" />
    </div>
    <div class="item">
      <img src="../../../../assets/images/1kg.svg" alt="" />
    </div>
    <div class="item">
      <img src="../../../../assets/images/1kg.svg" alt="" />
    </div>
    <div class="item">
      <img src="../../../../assets/images/1kg.svg" alt="" />
    </div>
    <div class="item">
      <img src="../../../../assets/images/1kg.svg" alt="" />
    </div>
    <div class="item">
      <img src="../../../../assets/images/1kg.svg" alt="" />
    </div>
  </div>
</div>
