<ng-container >
  <div class="container-fluid" style="margin-top: 2em;">
    <div class="row">
      <div class="col-12">
        <h2>Informacion del cliente</h2>
  <div class="client-info">
    <div class="contact-info">
      <span><strong>Numero de telefono:</strong> <small>{{client ? client.telephone : "---"}}</small></span>
    <span><strong>Nombre:</strong>  <small>{{client ? client.name : "---"}}</small></span>
    </div>
    <div class="adress-info">
      <span><strong>Dirección:</strong>  <small>{{client ? client.adress : "---"}}</small></span>
    <span><strong>Entre calles:</strong> <small> {{client ? client.street1 : "---"}} y {{client ? client.street2 : "---"}}</small></span>
    </div>

    <div class="actions">
      <div matTooltip="Ver historial" (click)="openClientHistorial()" class="action">

      </div>
      <div class="action">

      </div>
    </div>
    
    

  </div>
 
      </div>
    </div>
    
    <div class="dashboard-tools">
    <div class="tool">Generar Pedido</div>
    <div class="tool">Cancelar Pedido</div>
    <div class="tool"></div>
    </div>
  </div>
  
</ng-container>
<ng-template #noClients>
  No se encuentra el cliente
</ng-template>