@import "./../../../assets/css/color-pallete.scss";

.side-nav{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.137);
    background: url(../../../assets/images/background.png);
    background-color: $pastel-yellow;
    background-size: cover;
    z-index: 11;
    .clients-input{
        display: flex;
        flex-direction: column;
        padding: 1em;
        width: 100%;
        span{
            margin-bottom: 0.7em;
        }
    }
.title{
    background-color: rgba(240, 248, 255, 0.486);
    padding: 0.2em 1em;
    border-radius: 6px;
    width: 100%;
    backdrop-filter: blur(5px);
    margin-top: 3em;
}
}

::ng-deep .mat-snack-bar-container{
    margin: 31px !important;
    &.error{
        background: $grape;
        color: black;
        .mat-button{
            background-color:black;
            color: aliceblue;
            padding: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &.success{
        background: $kiwi;
        color: black;
        .mat-button{
            background-color:black;
            color: aliceblue;
            padding: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.cancel{
    background-color: $grape;
    border-radius: 50%;
}

.img-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
    img{
        width: 200px;
    }
}

.bread-crumb{
    height: 44px;
    margin-left: -1.5em;
    box-shadow: 2px 10px 12px 2px rgba(0, 0, 0, 0.21);
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-client{
    background-color: #f6d990;
    width: 44px;
    height: 44px;

}