<div class="container-fluid">

  <div class="row">
    <div class="col-4" style="padding-left: 0 !important;">
        <div class="side-nav"> 
          <div class="row">
            <div class="img-container">
              <img src="../../../assets/images/fresa-delivery.svg" alt="">
            </div>
  </div>
        <div class="row">
          <div class="bread-crumb">
            <h2>Clientes</h2>
          </div>
          <mat-form-field class="example-form-field" appearance="fill" style="margin-top: 0.8em;">
            <mat-label>Numero de télefono</mat-label>
            <input
              matInput
              (keyup.enter)="validateClient()"
              type="text"
              placeholder="Ingrese número de telefono..."
              [formControl]="clientControl"
            />
            <button class="cancel" *ngIf="clientControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clientControl.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="bread-crumb">
            <h2>Seleccione sus productos</h2>
          </div>
          <app-item-selector></app-item-selector>
        </div>
      </div>
    </div>
    <div class="col-8">
      <app-dashboard [client]="selectedClient" (resetClient)="resetClient()"></app-dashboard>
      <app-products></app-products>
    </div>
  </div>
</div>
