/* You can add global styles to this file, and also import other style files */
@import "./assets/css/color-pallete.scss";
*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h2{
    font-size: 20px;
    margin-bottom: 1em;
    
}

button{
    outline: 0;
    border: 0;
    padding: 0.5em;
    border-radius: 8px;
    margin: 0.2em;
    background-color: gray;
    &.cancel{
        background-color:rgba(255, 0, 0, 0.336);
    }
    &.accept{
        background-color: rgba(0, 128, 0, 0.336);
    }
}

.col-4,.col-8{
    &.db{
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    }
    
}
.col-8{
    width: calc(100% - 413px);
}
.col-4{
    max-width: 413px;
    min-width: 413px;
}

.col-8::-webkit-scrollbar-thumb{
    background-color: blueviolet;
    border-radius: 15px;
}

::ng-deep .mat-form-field{
    width: 100% !important;
}

.bread-crumb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: -3em;
    padding-left: 3em;
    width: 90%;
    height: auto;
    border-radius: 5px;
    transform: skew(-20deg);
    background-color: $kiwi;
    h2,h3{
        margin: 0 !important;
    }
}