<ng-container *ngIf="(dataSource$ | async) as dataSource;else loading">
  <table mat-table
  [dataSource]="dataSource" multiTemplateDataRows
  class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef > Fecha</th>
    <td  mat-cell *matCellDef="let element" ><span>{{element.date | date: "EEEE, d  MMMM , y, h:mm:ss a" }}</span>  </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="total">
    <th class="center" mat-header-cell *matHeaderCellDef> Total Compra</th>
    <td class="center" mat-cell *matCellDef="let element"> <span>{{element.total}}</span>  </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="pay">
    <th class="center" mat-header-cell *matHeaderCellDef> Pago con:</th>
    <td class="center" mat-cell *matCellDef="let element"> <span>{{element.pay}}</span> </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="turned">
    <th class="center" mat-header-cell *matHeaderCellDef> Vuelto de:</th>
    <td class="center" mat-cell *matCellDef="let element"> <span>{{element.turned}}</span>  </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th class="center" mat-header-cell *matHeaderCellDef> Ver Detalle</th>
    <td class="center" mat-cell *matCellDef="let element;let index = index">
      <span>
        <img width="20px" (click)="getHistorialDetail(element.num_cant)" src="../../../../../assets/images/chevron.svg" alt="">
      </span>
    </td>
  </ng-container>

<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
<ng-container matColumnDef="expandedDetail">
<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
 <div class="example-element-detail"
      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
   <div class="info">
     <ng-container *ngIf="(historialDetail$ | async) as details;else loadingDetail">
       <div class="info">details</div>
     </ng-container>
     <ng-template #loadingDetail>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <span>Cargando</span>
            <mat-progress-spinner
              class="example-margin"
              color="primary"
              mode="indeterminate"
              >
          </mat-progress-spinner>
          </div>
        </div>
      </div>
      </ng-template>
   </div>
 </div>
</td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
 class="example-element-row"
 [class.example-expanded-row]="expandedElement === element"
 (click)="expandedElement = expandedElement === element ? null : element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
</ng-container>

<ng-template #loading>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        
        <span>Cargando</span>
        <mat-progress-spinner
          class="example-margin"
          color="primary"
          mode="indeterminate"
          >
      </mat-progress-spinner>
      </div>
    </div>
  </div>
  </ng-template>



<!-- Copyright 2019 Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license -->