<ng-container *ngIf="(dataSource$ | async) as dataSource;else loading">
  <div class="bread-crumb">
    <h3>Información del cliente: {{client.name}}</h3>
    <h2>({{client.telephone}})</h2>
  </div>
  <div class="compras">
    Cantidad de compras {{dataSource.length}}
  </div>
  <table class="table grid">
    <tr>
      <th>Fecha</th>
      <th>Total Compra</th>
      <th class="w-250">Pago con:</th>
      <th class="w-250">Vuelto de:</th>
      <th>Ver Detalle</th>


    </tr>
    <tr *ngFor="let historial of dataSource; let index = index" [ngClass]="{'collapsed': collapsedStates[index]}">
      <td style="display: flex;">
        {{historial.date | date: "EEEE, MMMM d, y, h:mm:ss"}}
      </td>
      <td>{{historial.total}}</td>
      <td>{{historial.pay}}</td>
      <td>{{historial.turned}}</td>
      <td>

        <div class="trigger" (click)="collapsedRow(index);getHistorialDetail(historial.num_cant)"
          *ngIf="!recomendationMode">
          <img class="ver-mas" [ngClass]="{'up-arrow': collapsedStates[index]}"
            src="../../../../../assets/images/chevron.svg" alt="">
        </div>
      </td>

      <ng-container *ngIf="(historialDetails$.get(historial.num_cant)) | async as details;else loader">
        <div class="mini-card-container">
          <ng-container *ngFor="let detail of details">
            <ng-container *ngIf="detail">
              <div class="product-item">

                <div class="img-container" >
                  <img [src]="'../../../../assets/images/' + traduceCod(detail.product) +'.svg'" alt="">
                </div>
                <div class="flavours">
                  <div class="flavour-item" *ngFor="let flavour of detail.flavours">
                    {{diccionary('flavour',flavour.item)}}
                  </div>
                </div>
              </div>
            </ng-container>

          </ng-container>

        </div>

      </ng-container>

      <ng-template #loader>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">

              <span>Cargando</span>
              <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
              </mat-progress-spinner>
            </div>
          </div>
        </div>


      </ng-template>

    </tr>
  </table>
</ng-container>

<ng-template #loading>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <span>Cargando</span>
        <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </div>
    </div>
  </div>
</ng-template>



<!-- Copyright 2019 Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license -->